<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!This is the document header>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <nav class="nav1">
        <a class="a1" href="{{ url_for('main_page') }}">Home</a>
        <a class="a1" href="{{ url_for('about') }}">About</a>
        <a class="a1" href="{{ url_for('contact') }}">Contact</a>
        <!a are hyperlinks>
    </nav>

    <section class="head1">
        <!div is a division, or section>
        <h1>About Lingenia</h1>
        <!p is a paragraph>
    </section>

     <section class="para1">
        <!data inputs>

        <p>
        This is an online generator for creating a complete Conglang from scratch. You can choose the number
        of vowels and consonants that you want your language to have (or let the program generate them from
        a distribution of the most common numbers).
        The program will then generate the phoneme components of the language, based on the probability
        of each phoneme occuring in a real world language and put those together into words. Grammar rules
        are generated last, so it's possible to 'glue' together words into sentences.
        </p>

        <p>
        Of course, at each stage, you can choose to specify the generation rules, phonemes or grammar
        rules yourself if you would prefer.
        </p>

        <p>
        I created this project partly because I wanted to try programming an automatic Conlang generator
        (I am too lazy and uncreative to choose lists of phonemes and grammar and come up with words myself)
        and partly as a project to learn some web programming. Even though the results are a long way off
        a properly built language by a conlanger or linguist, I hope it's still of use if you're just looking
        for some naming language words for a writing or gaming project.
        </p>

        <p>
        The processes and rules I have used to create a natural language are based on the excellent
        'How to make a Language' series from Biblaridion on Youtube (found<a href="https://www.youtube.com/channel/UCMjTcpv56G_W0FRIdPHBn4A">here</a>).
        I chose to use this method because it breaks everything down into easy steps and also outlines some
        nice rules of thumb, which translate well to code.
        </p>

        <p>
        The files containing probabilities of phonemes (both vowels and consontants) is modified from the
        brilliant Phoible database:
        Moran, Steven & McCloy, Daniel (eds.) 2019.,
        PHOIBLE 2.0.,
        Jena: Max Planck Institute for the
        Science of Human History.
        (Available online at<a href="http://phoible.org">http://phoible.org</a>, Accessed on 2020-07 and 2020-08.)
        </p>

        <p>
        And finally, this is an open-source project, so feel free to get involved with pull requests
        or your own fork. I'm a bit of a newbie at this (both Conlanging and open-source programming),
        so any contributions are welcome!
        </p>

     </section>

</body>
</html>