<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!This is the document header>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <nav class="nav1">
        <a class="a1" href="{{ url_for('main_page') }}">Home</a>
        <a class="a1" href="{{ url_for('about') }}">About</a>
        <a class="a1" href="{{ url_for('contact') }}">Contact</a>
        <!a are hyperlinks>
    </nav>

    <section class="head1">
        <!div is a division, or section>
        <h1>About Lingenia</h1>
        <!p is a paragraph>
    </section>

     <section class="para1">
        <!data inputs>

        <p>
        This is a Conlang generator for creating phonology and indivdiual words. You can choose the number
        of vowels and consonants that you want your language to have (or let the program pick them for you).  
        The program will then generate the phoneme components of the language, based on the probability
        of each phoneme occuring in a real world language. You can then use these generate a number of words.
        </p>

        <p>
        Alternatively, if you want to specify your own phonology, you can click on each sound you want to include and it will be added to the phonology list. 
        Double clicking on a sound will play it so you can hear what it sounds like.
        </p>

        <p>
        Sonority rules are ()
        </p>

        <p>
        The processes and rules I have used are based on the excellent
        'How to make a Language' series from Biblaridion on Youtube (found<a href="https://www.youtube.com/channel/UCMjTcpv56G_W0FRIdPHBn4A">here</a>).
        </p>

        <p>
        The files containing probabilities of phonemes (both vowels and consontants) are modified from the
        brilliant Phoible database:
        Moran, Steven & McCloy, Daniel (eds.) 2019.,
        PHOIBLE 2.0.,
        Jena: Max Planck Institute for the
        Science of Human History.
        (Available online at<a href="http://phoible.org">http://phoible.org</a>, Accessed on 2020-07 and 2020-08.)
        </p>

     </section>

</body>
</html>