<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!Metadata>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/main_script.js"></script> 
    <!Document header for stylesheet>
    <meta charset="UTF-8">
    <title>Lingenia</title>
</head>
<body>

    <!Title section>
    <section class="head1">
        <h1>Lingenia</h1>
		<button onclick="sendHighlightedForSaving([''],['to_file'])" type="button" class="submit" id="download">
			Download results
		</button>
        <label class="submit">
			<input id="upload" name="uploaded_file" type="file" oninput="printDataFromFile([''],['from_file'])">
		    Upload file
		</label>
    </section>

    <h2>Generate phonemes:</h2>
	
    <!Input number of vowels and consonants to generate>
    <div class="vc-container">

        <div class="grid-item">
            <label>Number of vowels:</label>
            <br>
            <input type="number" id="vowel_no" min="3" max="15">

            <div class="grid-item" id="vowel_entry">
            </div>	
        </div>
		
        <div class="grid-item">
            <label>Number of consonants:</label>
            <br>
            <input type="number" id="consonant_no" min="3" max="55">

            <div class="grid-item" id="consonant_entry">
            </div>	
        </div>	
		
		<div class="grid-item">
			<button onclick="postInputs('vowel_no','consonant_no')" type="button" class="submit" id="consonants_id">
				Generate vowels and consonants
			</button>
        </div>
	</div>
	
    <div class="grid-container">
	    
		<! Vowel and Consonant IPA grid headers>
        <div class="grid-item">
            <section class="para1">
                <label>IPA vowels:</label>
            </section>
        </div>

        <div class="grid-item">
            <section class="para1">
                <label>IPA Consonants:</label>
            </section>
        </div>
        
		<! Vowel and Consonant IPA grids>
        <div class="grid-item">
            <div class="vowels1">
                <table style="width:90%" id="vowelsTable">
                <tr>
                    <th> </th>
                    <th>Front</th>
                    <th>Central</th>
                    <th>Back</th>
                </tr>
                <tr>
                    <td><span id="cl" >Close</span></td>
                    <td><button onclick="addOrRemove(this)" type="button" id="BI">&#x0069;</button>
                        <button onclick="addOrRemove(this)" type="button" id="BY">&#x0079;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="B0268">&#x0268;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0289">&#x0289;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="B026F">&#x026F;</button>
                        <button onclick="addOrRemove(this)" type="button" id="BU">&#x0075;</button>
                    </td>
                </tr>
                <tr>
                    <td>Near-close</td>
                    <td><button onclick="addOrRemove(this)" type="button" id="B026A">&#x026A;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B028F">&#x028F;</button>
                    </td>
                    <td></td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B028A">&#x028A;</button>
                    </td>
                </tr>
                <tr>
                    <td>Close-mid</td>
                    <td><button onclick="addOrRemove(this)" type="button" id="BE">&#x0065;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B\XF8">&#x00F8;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B0258">&#x0258;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B0275">&#x0275;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B0264">&#x0264;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="BO">&#x006F;</button>
                    </td>
                </tr>
                <tr>
                    <td>Mid</td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B\X65031E">&#x0065;&#x031E;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B\XF8031E">&#x00F8;&#x031E;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B0259">&#x0259;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B0264\U031E">&#x0264;&#x031E;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="BO031E">&#x006F;&#x031E;</button>
                    </td>
                </tr>
                <tr>
                    <td>Open-mid</td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B025B">&#x025B;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B0153">&#x0153;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B025C">&#x025C;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B025E">&#x025E;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B028C">&#x028C;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B0254">&#x0254;</button>
                    </td>
                </tr>
                <tr>
                    <td>Near-open</td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B\XE6">&#x00E6;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B0250">&#x0250;</button>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Open</td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="BA">&#x0061;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B0276">&#x0276;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="BA0308">&#x0061;&#x0308;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button"  id="B0251">&#x0251;</button>
                        <button onclick="addOrRemove(this)" type="button"  id="B0252">&#x0252;</button>
                    </td>
                </tr>
                </table>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="consonants1">
                <table style="width:97%">
                <tr>
                    <th> </th>
                    <th>Bi­labial</th>
                    <th>Labio­dental</th>
                    <th>Dental</th>
                    <th>Alveolar</th>
                    <th>Post alveolar</th>
                    <th>Retroflex</th>
                    <th>Palatal</th>
                    <th>Velar</th>
                    <th>Uvular</th>
                    <th>Pharyngeal</th>
                    <th>Glottal</th>
                </tr>
                <tr>
                    <td><span id="pl" >Plosive</span></td>
                    <td><button onclick="addOrRemove(this)" type="button" id="BP" >&#112;</button>
                        <button onclick="addOrRemove(this)" type="button" id="BB" >&#98;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> <button onclick="addOrRemove(this)" type="button" id="BT" >&#116;</button>
                    </td>
                    <td> 
                    <button onclick="addOrRemove(this)" type="button" id="BD" >&#100;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="B0288" >&#648;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0256" >&#598;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="BC" >&#99;</button>
                    <button onclick="addOrRemove(this)" type="button" id="B025F" >&#607;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="BK" >&#107;</button>
                    <button onclick="addOrRemove(this)" type="button" id="B0261" >&#609;</button>
                    </td>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="BQ" >&#113;</button>
                    <button onclick="addOrRemove(this)" type="button" id="B0262" >&#610;</button>
                    </td>
                    <td><button onclick="addOrRemove(this)" type="button" id="B02A1" >&#673;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0294" >&#660;</button>
                    </td>
                </tr>
                <tr>
                    <td>Nasal</td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BM" >&#109;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0271" >&#625;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BN" >&#110;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0273" >&#627;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0272" >&#626;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B014B" >&#331;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0274" >&#628;</button>
                    </td>
                </tr>
                <tr>
                    <td>Trill</td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0299" >&#665;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BR" >&#114;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0280" >&#640;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Tap or flap</td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B2C71" >&#11377;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B027E" >&#638;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B027D" >&#637;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Fricative</td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0278" >&#632;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B03B2" >&#946;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BF" >&#102;</button>
                        <button onclick="addOrRemove(this)" type="button" id="BV" >&#118;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B03B8" >&#952;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B\\XF0" >&#240;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BS" >&#115;</button>
                        <button onclick="addOrRemove(this)" type="button" id="BZ" >&#122;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0283" >&#643;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0292" >&#658;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0282" >&#642;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0290" >&#656;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B\\XE7" >&#231;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B029D" >&#669;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BX" >&#120;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0263" >&#611;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B03C7" >&#967;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0281" >&#641;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0127" >&#295;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0295" >&#661;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BH" >&#104;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B0266" >&#614;</button>
                    </td>
                </tr>
                <tr>
                    <td>Lateral Fricative</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B026C" >&#620;</button>
                        <button onclick="addOrRemove(this)" type="button" id="B026E" >&#622;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Approximant</td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B028B" >&#651;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0279" >&#633;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B027B" >&#635;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BJ" >&#106;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B0270" >&#624;</button>
                    </td>
                </tr>
                <tr>
                    <td>Lateral Approximant</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="BL" >&#108;</button>
                    </td>
                    <td> </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B026D" >&#621;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B028E" >&#654;</button>
                    </td>
                    <td>
                        <button onclick="addOrRemove(this)" type="button" id="B029F" >&#671;</button>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                </table>
            </div>
        </div>
        
    </div>

    <h2>Generate words:</h2>

    <div class="word-input-container">

        <div class="grid-item">
            <label>Number of words to generate:</label>
            <br>
            <input type="number" id="word_no" max="100" step="1">
            <div class="grid-item" id="word_no_entry">
            </div>
        </div>
        <div class="grid-item">
            <br>
            <button onclick="sendHighlightedForWords(['word_no'],
                                ['Number_words'])" 
                                type="button" class="submit" id="consonants_id">Generate</button>
        </div>

    </div>
    
    <div id="new-words">
        <!Insert newly generated words here>
    </div>
